/* style général du jeu */

html {
  font-size: 7px;
}

.fontFam {
  font-family: "Lato", sans-serif;
  font-size: 2.7rem;
}

.fontBold {
  font-weight: bold;
}

.sizeGame {
  width: 100vw;
  height: 100vh;
}

.sizePlayer {
  height: 45vh;
}

.startGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPad {
  padding: 0;
  margin-top: 0.3rem;
}

.borderLine {
  border: 3px solid rgb(12, 128, 236);
  border-radius: 0.5rem;
}

.sectionPlayer {
  height: 15%;
  width: 100%;
}

.sectionPlay {
  height: 20%;
}

.sizeHeader {
  height: 5vh;
}

.bgGrey {
  background-color: gray;
}

button {
  background-color: white;
  outline: none;
}

.invisible {
  display: none;
}

/* style du bloc new game */

ion-icon.game {
  font-size: 3rem;
  color: rgb(12, 128, 236);
}

/* style du bloc player */
.fontPlayer {
  font-size: 2.5rem;
}

.fontPlay,
.currentFont,
.fontSave {
  font-size: 1.5rem;
}

.marginPlayer {
  margin-left: 1rem;
}

.gameScoreFont {
  font-size: 1.9rem;
}

.currentZone {
  background-color: rgb(12, 128, 236);
  color: white;
  padding: 0 7px;
  border-radius: 12px;
}

.elementPlayer {
  display: flex;
  flex-direction: column;
}

ion-icon.playerIcon {
  font-size: 3.2rem;
  padding-top: 0.7rem;
}

.currentScore {
  font-weight: bolder;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.gameScore {
  margin-left: 10px;
  color: rgb(43, 226, 141);
  font-weight: bolder;
  font-size: 3.5rem;
  padding-bottom: 0.9rem;
}

.gameWin {
  font-size: 1.9rem;
  font-style: italic;
}

.imageCup {
  width: 30px;
  margin-left: 0.5rem;
}

.playerTurn {
  border-radius: 50%;
  background-color: rgb(43, 226, 141);
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
}

/* configuration du canvas avec dessin du dé pour adaptation mobile du grand format -sens de grand vers petit */
@media screen and (max-width: 1024px) {
  canvas {
    height: 41px;
    width: 41px;
  }
}

@media screen and (max-height: 600px) {
  .sizePlayer {
    height: 50vh;
  }
}

/* passage à la taille small, chaque zone de chaque player prend une majeure partie de la hauteur */
@media screen and (min-width: 568px) {
  .sizePlayer {
    height: 78vh;
  }
}

/* passage à la taille small, chaque zone de chaque player prend une majeure partie de la hauteur */
@media screen and (min-width: 1024px) {
  html {
    font-size: 13px;
  }

  .imageCup {
    width: 60px;
  }
}
