/* style général du jeu */

html {
  font-size: 10px;
}

.fontFam {
  font-family: "Lato", sans-serif;
  font-size: 2.7rem;
}

.fontBold {
  font-weight: bold;
}

.sizeGame {
  width: 100vw;
  height: 100vh;
}

.sizePlayer {
  height: 37vh;
}

.startGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnPad {
  padding: 0;
  margin-top: 0.3rem;
}

.borderLine {
  border: 1px solid black;
}

.sectionPlayer {
  height: 20%;
  width: 100%;
}

.sizeHeader {
  height: 5vh;
}

.bgGrey {
  background-color: gray;
}

button {
  background-color: white;
  outline: none;
}

/* style du bloc new game */

ion-icon.game {
  font-size: 3rem;
  color: rgb(12, 128, 236);
}

/* style du bloc player */
.fontPlayer {
  font-size: 2.5rem;
}

.fontPlay,
.currentFont {
  font-size: 1.5rem;
}

.marginPlayer {
  margin-left: 1rem;
}

.gameScoreFont
{
  font-size: 1.9rem;
}

.currentZone {
  background-color: rgb(12, 128, 236);
  color: white;
  padding: 0 10px;
  border-radius: 12px;
}

.elementPlayer {
  display: flex;
  flex-direction: column;
}

ion-icon.playerIcon {
  font-size: 2.7rem;
  padding-top: 0.6rem;
}

.currentScore {
  font-weight: bolder;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.gameScore {
  margin-left: 10px;
  color: rgb(43, 226, 141);
  font-weight: bolder;
  font-size: 3.5rem;
  padding-bottom: 0.9rem;
}

.gameWin{
  font-size: 1.9rem;
  font-style:italic;
}

.imageCup {
    width: 30px; 
    margin-left: 0.5rem; 
}

/* passage à la taille small, chaque zone de chaque player prend une majeure partie de la hauteur */
@media screen and (min-width: 568px) {
  .sizePlayer {
    height: 75vh;
  }

}

/* passage à la taille small, chaque zone de chaque player prend une majeure partie de la hauteur */
@media screen and (min-width: 1024px) {
  html {
    font-size: 15px;
  }

  canvas {
    height: 100px;
    width: 100px;
  }

   .imageCup {
    width: 60px;
  }
}
